:root{
    --darkmode1: rgb(48, 48, 48);
    --darkmode2: rgb(148, 148, 148);
    --lightmode1: rgb(255, 255, 255);
    --lightmode2: rgb(0, 0, 0);
    
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* ----------------------------Light Mode */

.light header{
    height: 10vh;
    width: 100%;
    border-bottom:3px solid var(--lightmode2);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.light .H-right button{
    background-color: black;
    color: whitesmoke;
}
.light header h1{
    margin-left: 10px;
}
.light header p {    
    margin-right: 20px;    
    color: orange;
    font-size: large;    
}
.light main{    
    border-top:3px solid var(--lightmode2);
    border-bottom:3px solid var(--lightmode2);
    margin: 10px 0 10px 0;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.light footer{
    border-top: 3px solid var(--lightmode2);
}
.light #blog-container{
    height: 75vh;
    width:100%;
    display: flex;
    flex-direction: column;
    color: var(--lightmode2);
    
}
.light #blog-container div{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--lightmode2);  
    border-top: 1px solid var(--lightmode2);
    height: 100px;
    width: 98%;
    align-self: center;
}
/* -------------------------------Dark Mode */
.dark{
    background-color: rgb(27, 27, 27);
}

.dark header{
    height: 10vh;
    width: 100%;
    border-bottom:3px solid var(--darkmode2);
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    
}
.dark h1{
    margin-left: 10px;
    color: var(--lightmode1)
}

.dark header p {    
    margin-right: 20px;    
    color: rgb(255, 255, 255);
    font-size: large;    
}
.dark main{    
    border-top:3px solid var(--darkmode2);
    border-bottom:3px solid var(--darkmode2);
    margin: 10px 0 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dark footer{
    color: white;
    border-top: 3px solid var(--darkmode2);
}
.dark #blog-container{
    height: 75vh;
    width:100%;
    display: flex;
    flex-direction: column;
    color: var(--lightmode1);
    
}
.dark #blog-container div{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--lightmode1);  
    border-top: 1px solid var(--lightmode1);
    height: 100px;
    width: 98%;
    align-self: center;
}
/* -------------------------------------------------------------- */
.H-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container{
    margin: 0;
    display: flex;
    flex-direction: column;
}

#theme-switcher{
    text-decoration: none;
}
/* --------------------------blog boxes */
.blogBoxes h4{
    margin-left: 15px;
}

.blogBoxes p{
    font-size: small;
    margin: 5px 0 5px 10px ;
}
.blogBoxes h5{
    margin-left: 15px;
}


footer{    
    height: fit-content;
    width: 100%;    
    display: flex;
    flex-direction: column;
}
footer h5{
    align-self: center
}
footer p{
    margin: 10px;
}


footer span{
    color: red;
}